@font-face {
    font-family: 'mirimedium';
    src: url('fonts/miriwin-webfont.eot');
    src: url('fonts/miriwin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miriwin-webfont.woff') format('woff'),
         url('fonts/miriwin-webfont.ttf') format('truetype'),
         url('fonts/miriwin-webfont.svg#mirimedium') format('svg');
    font-weight: normal;
    font-style: normal;

}