body {
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; }

.header {
  background-image: -webkit-repeating-linear-gradient(0deg, transparent, transparent 6vw, rgba(82, 56, 40, 0.5) 6vw, rgba(82, 56, 40, 0.5) 12vw);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 6vw, rgba(82, 56, 40, 0.5) 6vw, rgba(82, 56, 40, 0.5) 12vw);
  height: 38vw; }
  .header .title-wrapper {
    padding-top: 4vw; }
    .header .title-wrapper .by-line {
      float: none;
      margin: -5vw 0 0; }
      .header .title-wrapper .by-line img {
        width: 42vw;
        position: relative;
        z-index: 1; }
    .header .title-wrapper .title {
      float: none;
      margin: -5vw 0 0; }
      .header .title-wrapper .title img {
        width: 40vw; }
    .header .title-wrapper .slogan {
      float: none;
      margin: -5vw 0 0; }
      .header .title-wrapper .slogan img {
        width: 61vw; }
    .header .title-wrapper img {
      margin: 0 auto;
      display: block; }

.manjet .manjet-dotted-stripe {
  height: 8vw;
  background-color: #006680;
  background-image: -webkit-radial-gradient(#d5f6ff 35%, transparent 39%);
  background-image: radial-gradient(#d5f6ff 35%, transparent 39%);
  background-size: 8vw 8vw;
  background-position: 0 0, 0 0; }
.manjet .manjet-frills {
  height: 6vw;
  background-image: -webkit-radial-gradient(#d5f6ff 69%, transparent 67%);
  background-image: radial-gradient(#d5f6ff 69%, transparent 67%);
  background-size: 13vw 15.5vw;
  background-position: 0 -9.7vw, 0 0;
  -webkit-filter: drop-shadow(0 0 0.5vw #aaa);
          filter: drop-shadow(0 0 0.5vw #aaa); }

.menu {
  min-width: 60vw;
  font-size: 4vw; }
  .menu .submit {
    margin: 2vw; }
  .menu .list-wrapper {
    margin: 0 7.1vw 0 0; }
    .menu .list-wrapper ul {
      max-height: 31vh;
      margin: 0 -7.1vw 0 0; }
      .menu .list-wrapper ul li {
        padding: 2vw 1vw 2vw 2vw; }
        .menu .list-wrapper ul li img {
          width: 3.3vw; }
        .menu .list-wrapper ul li span {
          margin-right: 5.3vw;
          margin-left: 2.6vw; }

.overlay .form-wrapper {
  width: 70%; }
  .overlay .form-wrapper form input, .overlay .form-wrapper form .form-buttons p {
    font-size: 3vw; }
